h1, h2, h3, nav, footer, .actions {
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}

body {
    font-family: Georgia, Cambria, "Times New Roman", serif;
    font-size: 100%;
    background: url(images3/art-background4.jpg);
    background-repeat : no-repeat;
    background-size: cover;
    margin: 0; 
    padding: 0;
}

header {
    margin-left: 7.5rem;
    padding-top : 0;
    margin-top : 0;
    background-color: white;
    width: 12rem;
    height: 4rem;
    padding: 1rem;
}

header h2 {
    font-size: 0.5rem;
    padding-top : 0rem;
    margin-top : 0rem;
}

header h1 {
    font-family: 'Six Caps', sans-serif;
    font-size: 2.5rem;
    padding-top : 0rem;
    padding-bottom : 0rem;
    margin-top : 0rem;
    margin-bottom : 0rem;
}

article {
    background-color:rgba(255,255,255,0.5);
    margin-top: 6rem;
    margin-left: 7.5rem;
    width: 20rem;
    height : 10rem;
}

article p {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

article h2 {
    background-color:rgba(239,239,239,0.5);
    padding: 1rem;
    font-size: 1.3rem;
}

article p#time {
    color: white;
    background-color:rgba(0,0,0,0.5);
    margin: 0.5rem;
    padding: 1rem;
    font-size: 0.85rem;
    font-weight: bold;
    width: 13rem;
}

article footer {
    background-color:#EFEFEF;
    padding: 1rem 1rem;
}

a[href^="mailto"] {
    background: url(images3/email.png) 0 2px;
    background-repeat : no-repeat;
    padding-left: 1.25em;
    border-bottom: dotted 1pt black;
    text-decoration: none;
    font-size : 0.8rem;   
}